{% extends 'base.html' %}

{% block additional_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.css">
<link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>
{% include 'js_calendar.html' %}


{% endblock %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-left mb-0">Productivity Booster</h3>
      <nav class="nav nav-masthead justify-content-center float-md-right">
        <a class="nav-link" aria-current="page" href="/">Eingabe</a>
        <a class="nav-link" href="/planner">Planung</a>
        <a class="nav-link active" href="/calendar">Kalendar</a>
        <a class="nav-link" href="/dashboard-st">Dashboard</a>
        <a class="nav-link" href="/dashboard-lt">Trendanalyse</a>
      </nav>
    </div>
  </header>
</div>
<div class="col-md-12 container my-2">
  <div id='calendar'></div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');
    var defaultData = []
    var labels = []
    var endpoint = '/api/calendar/'
    var today = new Date();
    var events_dw = []
    var events_sw = []
    var events_fz = []
    var events_org = []
    $.ajax({
      method: "GET",
      url: endpoint,
      success: function (data) {
        var dw = data['DW']
        var sw = data['SW']
        var fz = data['FZ']
        var org = data['ORG']
        for (var key in dw) {
          events_dw.push(dw[key]);
        }
        for (var key in sw) {
          events_sw.push(sw[key]);
        }
        for (var key in fz) {
          events_fz.push(fz[key]);
        }
        for (var key in org) {
          events_org.push(org[key]);
        }
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'timeGridDay',
          initialDate: today,
          themeSystem: 'bootstrap',
          slotMinTime: '07:00:00',
          editable: true,
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          eventSources: [{
              events: events_dw,
              color: '#458A49',
              textColor: 'black'
            },
            {
              events: events_sw,
              color: '#7ecd5b',
              textColor: 'black'
            },
            {
              events: events_fz,
              color: '#53B7B7',
              textColor: 'black'
            },
            {
              events: events_org,
              color: '#DBCF58',
              textColor: 'black'
            },

          ],
          eventDrop: function(info) {
            // alert(info.event.title + " was dropped on " + info.event.start.toISOString());
            console.log(info.event.title);
            console.log(info.event.start);
            console.log(info.event.id);
            },
          eventResize: function(info) {
            // alert(info.event.title + " end is now " + info.event.end.toISOString());
            console.log(info.event.title);
            console.log(info.event.id);
            console.log(info.event.end);
            },
        });

        calendar.render();
      },
      error: function (error_data) {
        console.error('error')
        console.error(error_data)
      }
    })

  });
  var sendpoint = None
    $.ajax({
      method: "POST",
      url: sendpoint,
      success: function (data) {
      
      

        calendar.render();
      },
      error: function (error_data) {
        console.error('error')
        console.error(error_data)
      }
    

  });
</script>

{% endblock %}