{% extends 'base.html' %}

{% block additional_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.css">
{% include 'js_calendar.html' %}

<script>

    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var defaultData = []
      var labels = []
      var endpoint = '/api/calendar/'
      var today = new Date();
      var evente = []
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data){
          console.log(data)
          for (var key in data){
            evente.push(data[key] );
            }
            console.log(evente)
            var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridDay',
            initialDate: today,
            headerToolbar: {
              left: 'prev,next today',
              center: 'title',
              right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            events: evente
          });

          calendar.render();
        },
        error: function(error_data){
            console.log('error')
            console.log(error_data)
        }
    })

});

  </script>
{% endblock %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-left mb-0">Productivity Booster</h3>
      <nav class="nav nav-masthead justify-content-center float-md-right">
        <a class="nav-link" aria-current="page" href="/">Eingabe</a>
        <a class="nav-link active" href="/calendar">Planung</a>
        <a class="nav-link" href="/dashboard-st">Dashboard</a>
        <a class="nav-link" href="/dashboard-lt">Trendanalyse</a>
      </nav>
    </div>
  </header>
</div>
<div class="col-md-12 container my-2">
  <div id='calendar'></div>
</div>

{% endblock %}