{% extends 'base.html' %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-left mb-0">Productivity Booster</h3>
        <nav class="nav nav-masthead justify-content-center float-md-right">
          <a class="nav-link" aria-current="page" href="/">Eingabe</a>
          <a class="nav-link" href="/planner">Planung</a>
          <a class="nav-link" href="/calendar">Kalendar</a>          
          <a class="nav-link" href="/dashboard">Dashboard</a>
          <a class="nav-link active disabled" href="/trend">Trendanalyse</a>
        </nav>
      </div>
    </header>
</div>

<h2 class="middel">Dashboard zur Produktivitätssteigerung</h2>
{% if user.is_authenticated %}

<div class="row">
    <div class="col-md-6">
        <canvas id="myChart"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="myChart2"></canvas>
    </div>  
    <div class="col-md-6">
        <canvas id="myChart3"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="myChart4"></canvas>
    </div>
</div>
    

{% include 'js_dashboard.html' %}

<script>
    Chart.defaults.global.defaultFontColor = "#fff";
    var defaultData = []
    var labels = []
    var endpoint = '/api/trend/month/'
    var bgcolor = ['#458A49', '#7ecd5b', '#53B7B7', '#DBCF58']
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data){
            defaultData = data.daten
            labels = data.labels
            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
            type: 'pie',

            data: {
                labels: labels,
                datasets: [{
                    label: 'Zeit Deepwork',
                    backgroundColor: bgcolor,
                    borderColor: 'rgb(55, 99, 20)',
                    data: defaultData,
                    }]
                }
            })
        },
        error: function(error_data){
            console.log('error')
            console.log(error_data)
        }
    })

    
    var daten = []
    var labels = []
    var endpoint = '/api/trend/month-summary/'
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data){
            for (var key in data) {
                daten.push(data[key]);
                }
            labels = data.labels
            var ctx = document.getElementById('myChart2').getContext('2d');
            var chart = new Chart(ctx, {
            type: 'bubble',

            data: {
                labels: labels,
                datasets: [{
                    label: 'DW in Abhängigkeit von HAP und PROD',
                    backgroundColor: '#458A49',
                    borderColor: 'rgb(55, 99, 20)',
                    data: daten,
                    }]
                }
            })
        },
        error: function(error_data){
            console.log('error')
            console.log(error_data)
        }
    })

    var DW_aktuell = []
    var DW_Trend = []
    var SW_Trend = []
    var SW_aktuell = []
    var labels = []
    var endpoint = '/api/trend/month-work/'
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data){
            DW_aktuell = data.mentaleArbeit30
            DW_Trend = data.mentaleArbeit60
            SW_Trend = data.mentaleArbeit60
            SW_aktuell = data.leichteArbeit30
            labels = data.labels
            var ctx = document.getElementById('myChart3').getContext('2d');
            var chart = new Chart(ctx, {
            type: 'line',

            data: {
                labels: labels,
                datasets: [{
                    label: 'Zeit DeepWork aktuell',
                    backgroundColor: '#458A49',
                    borderColor: '#458A49',
                    data: DW_aktuell,
                    fill: false
                    },
                    {
                    label: 'Zeit DeepWork historisch',
                    backgroundColor: '#458A29',
                    borderColor: '#458A29',
                    data: DW_Trend,
                    fill: false
                    },
                    {
                    label: 'Zeit ShallowWork aktuell',
                    backgroundColor: '#7ecd5b',
                    borderColor: '#7ecd5b',
                    data: SW_aktuell,
                    fill: false
                    },
                    {
                    label: 'Zeit ShallowWork historisch',
                    backgroundColor: '#7ecd2b',
                    borderColor: '#7ecd2b',
                    data: SW_Trend,
                    fill: false
                    }]
                }
            })
        },
        error: function(error_data){
            console.log('error')
            console.log(error_data)
        }
    })

    var DW = []
    var SW = []
    var FZ = []
    var ORG = []
    var labels = []
    var endpoint = '/api/trend/month-progress/'
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data){
            DW = data.DW
            SW = data.SW
            FZ = data.FZ
            ORG = data.ORG
            labels = data.labels
            var ctx = document.getElementById('myChart4').getContext('2d');
            var chart = new Chart(ctx, {
            type: 'line',

            data: {
                labels: labels,
                datasets: [{
                    label: 'Deepwork',
                    backgroundColor: '#458A49',
                    borderColor: '#458A49',
                    data: DW,
                    fill: false
                    },
                    {
                    label: 'Shallow Work',
                    backgroundColor: '#7ecd5b',
                    borderColor: '#7ecd5b',
                    data: SW,
                    fill: false
                    },
                    {
                    label: 'Freizeit',
                    backgroundColor: '#53B7B7',
                    borderColor: '#53B7B7',
                    data: FZ,
                    fill: false
                    },
                    {
                    label: 'Organisation',
                    backgroundColor: '#DBCF58',
                    borderColor: '#DBCF58',
                    data: ORG,
                    fill: false
                    }]
                }
            })
        },
        error: function(error_data){
            console.log('error')
            console.log(error_data)
        }
    })
</script>

{% else %}
<a href="/admin" class="btn btn-warning">You are not logged in!</a>
{% endif %}

{% endblock %}